<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TextArea</title>
    <link rel="stylesheet" href="./dropdown.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../../assets/css/output.css" />
  </head>
  <body>
    <div class="textarea-wrapper mt-4 mx-20">
      <form action="">
        <label
          for="textarea"
          class="relative mt-6 text-gray-color flex flex-col gap-2 not-italic text-[12px] font-bold leading-normal"
          >Description
          <textarea
            name="textarea"
            id="textarea"
            class="block bg-transparent w-full text-color resize-none pl-4 pr-[25px] font-medium leading-[23px] pb-[57px] pt-2 rounded right-1 border border-input-color focus:border-primary-color outline-none active:transition ease-in duration-200"
            placeholder="e.g. It’s always good to take a break. This 15 minute break will recharge the batteries a little."
          ></textarea>
        </label>
      </form>
    </div>
  </body>
</html>
