<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/output.css" />

    <title>Document</title>
  </head>

  <body class="bg-gray-50">
    <div class="container m-auto mt-4">
      <div
        class="card duration-200 bg-white w-280 py-6 px-4 rounded-lg font-bold shadow-lg hover:shadow-md hover:cursor-pointer subpixel-antialiased"
      >
        <p class="card__title text-black capitalize">Build UI for search</p>
        <p class="card__status text-slate-500">0 of 2 substasks</p>
      </div>

      <div class="container m-auto mt-4">
        <div
          class="card duration-200 bg-white w-280 py-6 px-4 rounded-lg font-bold shadow-lg hover:shadow-md hover:cursor-pointer subpixel-antialiased"
        >
          <p class="card__title text-black capitalize">
            Create template structures
          </p>
          <p class="card__status text-slate-500">0 of 2 substasks</p>
        </div>
      </div>
      <div class="container m-auto mt-4">
        <div
          class="card duration-200 bg-white w-280 py-6 px-4 rounded-lg font-bold shadow-lg hover:shadow-md hover:cursor-pointer subpixel-antialiased"
        >
          <p class="card__title text-black capitalize">
            QA and test all major user journeys
          </p>
          <p class="card__status text-slate-500">0 of 2 substasks</p>
        </div>
        <div class="container m-auto mt-4">
          <div
            class="card duration-200 bg-white w-280 py-6 px-4 rounded-lg font-bold shadow-lg hover:shadow-md hover:cursor-pointer subpixel-antialiased"
          >
            <p class="card__title text-black capitalize">
              QA and test all major user journeys
            </p>
            <p class="card__status text-slate-500">0 of 2 substasks</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
