<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>

    <link rel="stylesheet" href="./button.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/output.css" />
  </head>
  <body>
    <div class="container button-wrapper flex flex-col gap-5 mt-24">
      <button
        class="btn rounded-full w-full text-center py-2 font-plus-jakarta-sans font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none bg-bg-co text-primary-color hover:bg-bg-content-color"
      >
        Primary Default Button
      </button>

       <button class="btn rounded-full  w-full text-center py-2  font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none  bg-bg-co  text-primary-color hover:bg-bg-content-color"> Primary Default Button</button>

      <button class="btn btn-disabled rounded-full  w-full  text-center py-3.5  font-bold text-[15px] leading-5 cursor-pointer transition duration-200 ease-in-out focus:outline-none bg-primary-color  text-bg-content-color hover:bg-[#A8A4F" disabled>
        + Add New Task
      </button>

      <button class="btn rounded-full  w-full  text-center py-3.5  font-bold text-[15px] leading-5 cursor-pointer transition duration-200 ease-in-out focus:outline-none bg-primary-color  text-bg-content-color hover:bg-primary-light-color">
        Button Primary (L)
      </button>

      <button class="btn rounded-full  w-full text-center py-2  font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none  bg-primary-color  text-bg-content-color hover:bg-primary-light-color">
        Button Primary (S)
      </button>

      <button class="btn rounded-full w-full text-center py-2  font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none  bg-[#635fc71a] text-[#635fc7] hover:bg-[#635fc740]  ">
        Secondary Default Button
      </button>

      <button class="btn button rounded-3xl w-full  text-center py-3.5  font-bold text-[15px] leading-5 cursor-pointer transition duration-200 ease-in-out focus:outline-none bg-[#635fc71a] text-[#635fc7] hover:bg-[#635fc740]" >
        Secondary Large Button
      </button>

      <button class="btn rounded-full  w-full text-center py-2  font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none  bg-danger-color  text-white hover:bg-[#FF9898]">
        Button Default Destructive
      </button>

      <button class="btn button rounded-3xl w-full  text-center py-3.5  font-bold text-[15px] leading-5 cursor-pointer transition duration-200 ease-in-out focus:outline-none  bg-danger-color  text-white hover:bg-[#FF9898]">
        Error Large Button
      </button>
    </div>
  </body>
</html>
