@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?qzxrwr');
  src:
    url('fonts/icomoon.eot?qzxrwr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qzxrwr') format('truetype'),
    url('fonts/icomoon.woff?qzxrwr') format('woff'),
    url('fonts/icomoon.svg?qzxrwr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e900";
}
.icon-sun:before {
  content: '\e901';
}
.icon-eye-close:before {
  content: '\e902';
}
.icon-eye:before {
  content: '\e903';
}
.icon-layout:before {
  content: '\e904';
}
.icon-menu:before {
  content: '\e905';
}
.icon-logo .path1:before {
  content: '\e906';
  color: rgb(99, 95, 199);
}
.icon-logo .path2:before {
  content: '\e907';
  margin-left: -0.9599609375em;
  color: rgb(99, 95, 199);
  opacity: 0.75;
}
.icon-logo .path3:before {
  content: '\e908';
  margin-left: -0.9599609375em;
  color: rgb(99, 95, 199);
  opacity: 0.5;
}
.icon-close:before {
  content: '\e909';
}
.icon-plus:before {
  content: '\ea0a';
}
.icon-tick:before {
  content: '\ea10';
}
.icon-arrow:before {
  content: '\ea50';
}
