<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkbox</title>
    <link rel="stylesheet" href="./checkbox.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/output.css">
    <link rel="stylesheet" href="../../../assets/icomoon/style.css">
  </head>
  <body>
    <div class="mt-60 mx-60 flex items-center gap-4 cursor-pointer relative hover:bg-[635fc740]  hover:transition duration-200 active:ease-in">
      <i 
      class="icon-tick checkbox-icon absolute top-1 text-white left-[3px] scale-1 duration-150">
    </i>
      <input type="checkbox" id="check" class=" checkbox-input relative h-4 w-4 bg-white bg-text-color rounded-[2px] appearance-none border-[1px] border-solid border-[rgba(130, 143, 163, 0.25)] cursor-pointer checked:bg-primary-color rounded-[2px] ">
      <label for="check" class=" text-text-color cursor-pointer font-bold text-[12px] leading-normal" >Checkbox</label>
    </div>
  </body>
</html>
