<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/output.css" />
    <link rel="stylesheet" href="/assets/css/variables.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="../form/input/input.css" />
    <link rel="stylesheet" href="../form/dropdown/dropdown.css" />

    <title>Modal | Component</title>
  </head>
  <body class="">
    <div
      class="blocker hidden w-full h-full absolute z-10 bg-black opacity-40"
    ></div>
    <button class="toggle-modal-button" modal-id="add-task-modal">
      add new task
    </button>
    <button class="toggle-modal-button" modal-id="edit-task-modal">
      edit task
    </button>
    <button class="toggle-modal-button" modal-id="add-board-modal">
      Add new board
    </button>
    <button class="toggle-modal-button" modal-id="edit-board-modal">
      edit new board
    </button>
    <button class="toggle-modal-button" modal-id="delete-board-modal">
      delete board
    </button>
    <button class="toggle-modal-button" modal-id="delete-task-modal">
      delete task
    </button>
    <div class="w-full h-full absolute flex items-center justify-center px-4">
      <!-- Change modal Cards -->

      <!-- Edit task modal -->
      <div
        class="relative modal hidden max-w-[480px] overflow-y-auto max-h-[85vh] w-full mx-auto z-20 bg-content-color p-6 sm:p-8"
        id="edit-task-modal"
      >
        <div class="h-full">
          <i
            class="icon-close close-modal absolute top-6 right-6 sm:top-8 sm:right-8 cursor-pointer text-color hover:text-danger-color duration-150 active:text-danger-light-color"
          ></i>
          <div class="">
            <h3 class="text-color text-[18px] font-bold">Edit Task</h3>
          </div>
          <div class="mt-6">
            <label
              class="relative flex flex-col gap-2 text-gray-color font-plus-jakarta-sans font-bold text-[12px] leading-5"
            >
              Title
              <input
                class="requiredput block bg-transparent w-full px-4 py-2 rounded text-color outline-none cursor-pointer font-medium text-[13px] leading-[23px] border border-input-color focus:border-primary-color active:transition duration-200 active:ease-in"
                type="text"
                placeholder="e.g. Take coffee break"
              />
              <span
                class="input-span hidden absolute top-[55%] right-4 text-[#ea5555] font-medium leading-[23px] not-italic text-[13px]"
                >Can’t be empty</span
              >
            </label>
            <label
              for="textarea"
              class="relative mt-6 text-gray-color flex flex-col gap-2 not-italic text-[12px] font-bold leading-normal"
              >Description
              <textarea
                name="textarea"
                id="textarea"
                class="block bg-transparent w-full text-color resize-none pl-4 pr-[25px] font-medium leading-[23px] pb-[57px] pt-2 rounded right-1 border border-input-color focus:border-primary-color outline-none active:transition ease-in duration-200"
                placeholder="e.g. It’s always good to take a break. This 15 minute break will recharge the batteries a little."
              ></textarea>
            </label>

            <div class="flex flex-col mt-6">
              <label
                class="relative form-label flex flex-col gap-2 text-gray-color font-plus-jakarta-sans font-bold text-[12px] leading-5"
              >
                Subtasks
                <div class="flex gap-4">
                  <input
                    class="modal-input block bg-transparent w-full px-4 py-2 rounded text-color outline-none cursor-pointer font-medium text-[13px] leading-[23px] border border-input-color focus:border-primary-color active:transition duration-200 active:ease-in"
                    type="text"
                    placeholder="e.g. Take coffee break"
                  />
                  <button
                    type="button"
                    class="button border-transparent bg-transparent close-btn"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="15"
                      height="15"
                      viewBox="0 0 15 15"
                      fill="none"
                    >
                      <rect
                        x="12.7275"
                        width="3"
                        height="18"
                        transform="rotate(45 12.7275 0)"
                        fill="#828FA3"
                      />
                      <rect
                        y="2.12132"
                        width="3"
                        height="18"
                        transform="rotate(-45 0 2.12132)"
                        fill="#828FA3"
                      />
                    </svg>
                  </button>
                </div>
                <span
                  class="input-span hidden absolute top-[55%] right-12 text-[#ea5555] font-medium leading-[23px] not-italic font-plus-jakarta-sans text-[13px]"
                  >Can’t be empty</span
                >
              </label>
            </div>

            <button
              class="btn mt-6 rounded-full w-full text-center py-2 font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 outline-none text-primary-color dark:bg-white bg-[#635fc71a] hover:bg-[#635FC740]"
            >
              + Add New Subtask
            </button>



            <button
              type="submit"
              class="btn mt-6 rounded-full w-full text-center py-2 font-plus-jakarta-sans font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none bg-primary-color text-white hover:bg-primary-light-color"
            >
              Create Task
            </button>
          </div>
        </div>
      </div>
      <!-- Add new task modal -->
      <div
        class="relative modal hidden max-w-[480px] overflow-y-auto max-h-[85vh] w-full mx-auto z-20 bg-content-color p-6 sm:p-8"
        id="add-task-modal"
      >
        <div class="h-full">
          <i
            class="icon-close close-modal absolute top-6 right-6 sm:top-8 sm:right-8 cursor-pointer text-color hover:text-danger-color duration-150 active:text-danger-light-color"
          ></i>
          <div class="">
            <h3 class="text-color text-[18px] font-bold">Add New Task</h3>
          </div>
          <div class="mt-6">
            <label
              class="relative flex flex-col gap-2 text-gray-color font-plus-jakarta-sans font-bold text-[12px] leading-5"
            >
              Title
              <input
                class="requiredput block bg-transparent w-full px-4 py-2 rounded text-color outline-none cursor-pointer font-medium text-[13px] leading-[23px] border border-input-color focus:border-primary-color active:transition duration-200 active:ease-in"
                type="text"
                placeholder="e.g. Take coffee break"
              />
              <span
                class="input-span hidden absolute top-[55%] right-4 text-[#ea5555] font-medium leading-[23px] not-italic text-[13px]"
                >Can’t be empty</span
              >
            </label>
            <label
              for="textarea"
              class="relative mt-6 text-gray-color flex flex-col gap-2 not-italic text-[12px] font-bold leading-normal"
              >Description
              <textarea
                name="textarea"
                id="textarea"
                class="block bg-transparent w-full text-color resize-none pl-4 pr-[25px] font-medium leading-[23px] pb-[57px] pt-2 rounded right-1 border border-input-color focus:border-primary-color outline-none active:transition ease-in duration-200"
                placeholder="e.g. It’s always good to take a break. This 15 minute break will recharge the batteries a little."
              ></textarea>
            </label>

            <div class="flex flex-col mt-6">
              <label
                class="relative form-label flex flex-col gap-2 text-gray-color font-plus-jakarta-sans font-bold text-[12px] leading-5"
              >
                Subtasks
                <div class="flex gap-4">
                  <input
                    class="modal-input block bg-transparent w-full px-4 py-2 rounded text-color outline-none cursor-pointer font-medium text-[13px] leading-[23px] border border-input-color focus:border-primary-color active:transition duration-200 active:ease-in"
                    type="text"
                    placeholder="e.g. Take coffee break"
                  />
                  <button
                    type="button"
                    class="button border-transparent bg-transparent close-btn"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="15"
                      height="15"
                      viewBox="0 0 15 15"
                      fill="none"
                    >
                      <rect
                        x="12.7275"
                        width="3"
                        height="18"
                        transform="rotate(45 12.7275 0)"
                        fill="#828FA3"
                      />
                      <rect
                        y="2.12132"
                        width="3"
                        height="18"
                        transform="rotate(-45 0 2.12132)"
                        fill="#828FA3"
                      />
                    </svg>
                  </button>
                </div>
                <span
                  class="input-span hidden absolute top-[55%] right-12 text-[#ea5555] font-medium leading-[23px] not-italic font-plus-jakarta-sans text-[13px]"
                  >Can’t be empty</span
                >
              </label>
            </div>

            <button
              class="btn mt-6 rounded-full w-full text-center py-2 font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 outline-none text-primary-color dark:bg-white bg-[#635fc71a] hover:bg-[#635FC740]"
            >
              + Add New Subtask
            </button>

            <div class="dropdown mt-6">
              <div class="dropdown-menu relative w-full">
                <div
                  class="dropdown-btn status min-w-full w-full justify-between flex items-center px-4 py-2 rounded border focus:outline-none active:border-[#635FC7] group"
                >
                  <span
                    class="dBtn-text m-0 text-gray-color cursor-pointer transition duration-400 ease-in-out text-[13px] leading-6"
                    >Doing</span
                  >
                  <span class="dropdown-sign">
                    <svg
                      class="ml-10"
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="8"
                      viewBox="0 0 11 8"
                      fill="none"
                    >
                      <path
                        d="M0.79834 1.54858L5.49682 6.24707L10.1953 1.54858"
                        stroke="#635FC7"
                        stroke-width="2"
                      />
                    </svg>
                  </span>
                </div>

                <ul
                  class="dropdown-options w-full hidden mt-2 rounded bg-page-color"
                >
                  <li
                    class="dropdown-option cursor-pointer p-3 hover:bg-content-color duration-200"
                  >
                    <span
                      class="option-text font-medium text-[13px] leading-[23px] text-[#828FA3]"
                      >Todo</span
                    >
                  </li>
                  <li
                    class="dropdown-option cursor-pointer p-3 hover:bg-content-color duration-200"
                  >
                    <span
                      class="option-text font-medium text-[13px] leading-[23px] text-[#828FA3]"
                      >Doing</span
                    >
                  </li>
                  <li
                    class="dropdown-option cursor-pointer p-3 hover:bg-content-color duration-200"
                  >
                    <span
                      class="option-text font-medium text-[13px] leading-[23px] text-[#828FA3]"
                      >Done</span
                    >
                  </li>
                </ul>
              </div>
            </div>

            <button
              type="submit"
              class="btn mt-6 rounded-full w-full text-center py-2 font-plus-jakarta-sans font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none bg-primary-color text-white hover:bg-primary-light-color"
            >
              Create Task
            </button>
          </div>
        </div>
      </div>
      <!-- Add new Board modal -->
      <div
        class="relative modal hidden max-w-[480px] overflow-y-auto max-h-[85vh] w-full mx-auto z-20 bg-content-color p-6 sm:p-8"
        id="add-board-modal"
      >
        <div class="h-full">
          <i
            class="icon-close close-modal absolute top-6 right-6 sm:top-8 sm:right-8 cursor-pointer text-color hover:text-danger-color duration-150 active:text-danger-light-color"
          ></i>
          <div class="">
            <h3 class="text-color text-[18px] font-bold">Add New Board</h3>
          </div>
          <div class="mt-6">
            <label
              class="relative flex flex-col gap-2 text-gray-color font-plus-jakarta-sans font-bold text-[12px] leading-5"
            >
              Namr
              <input
                class="requiredput block bg-transparent w-full px-4 py-2 rounded text-color outline-none cursor-pointer font-medium text-[13px] leading-[23px] border border-input-color focus:border-primary-color active:transition duration-200 active:ease-in"
                type="text"
                placeholder="e.g. Web Design"
              />
              <span
                class="input-span hidden absolute top-[55%] right-4 text-[#ea5555] font-medium leading-[23px] not-italic text-[13px]"
                >Can’t be empty</span
              >
            </label>
            <div class="flex flex-col mt-6">
              <label
                class="relative form-label flex flex-col gap-2 text-gray-color font-plus-jakarta-sans font-bold text-[12px] leading-5"
              >
                Columns
                <div class="flex gap-4">
                  <input
                    class="modal-input block bg-transparent w-full px-4 py-2 rounded text-color outline-none cursor-pointer font-medium text-[13px] leading-[23px] border border-input-color focus:border-primary-color active:transition duration-200 active:ease-in"
                    type="text"
                    placeholder="e.g. Take coffee break"
                  />
                  <button
                    type="button"
                    class="button border-transparent bg-transparent close-btn"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="15"
                      height="15"
                      viewBox="0 0 15 15"
                      fill="none"
                    >
                      <rect
                        x="12.7275"
                        width="3"
                        height="18"
                        transform="rotate(45 12.7275 0)"
                        fill="#828FA3"
                      />
                      <rect
                        y="2.12132"
                        width="3"
                        height="18"
                        transform="rotate(-45 0 2.12132)"
                        fill="#828FA3"
                      />
                    </svg>
                  </button>
                </div>
                <span
                  class="input-span hidden absolute top-[55%] right-12 text-[#ea5555] font-medium leading-[23px] not-italic font-plus-jakarta-sans text-[13px]"
                  >Can’t be empty</span
                >
              </label>
            </div>

            <button
              class="btn mt-6 rounded-full w-full text-center py-2 font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 outline-none text-primary-color dark:bg-white bg-[#635fc71a] hover:bg-[#635FC740]"
            >
              + Add New Column
            </button>
            <button
              type="submit"
              class="btn mt-6 rounded-full w-full text-center py-2 font-plus-jakarta-sans font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none bg-primary-color text-white hover:bg-primary-light-color"
            >
              Create New Board
            </button>
          </div>
        </div>
      </div>
      <!-- Edit Board modal -->
      <div
        class="relative modal hidden max-w-[480px] overflow-y-auto max-h-[85vh] w-full mx-auto z-20 bg-content-color p-6 sm:p-8"
        id="edit-board-modal"
      >
        <div class="h-full">
          <i
            class="icon-close close-modal absolute top-6 right-6 sm:top-8 sm:right-8 cursor-pointer text-color hover:text-danger-color duration-150 active:text-danger-light-color"
          ></i>
          <div class="">
            <h3 class="text-color text-[18px] font-bold">Edit Board</h3>
          </div>
          <div class="mt-6">
            <label
              class="relative flex flex-col gap-2 text-gray-color font-plus-jakarta-sans font-bold text-[12px] leading-5"
            >
              Board Name
              <input
                class="requiredput block bg-transparent w-full px-4 py-2 rounded text-color outline-none cursor-pointer font-medium text-[13px] leading-[23px] border border-input-color focus:border-primary-color active:transition duration-200 active:ease-in"
                type="text"
                placeholder="e.g. Web Design"
              />
              <span
                class="input-span hidden absolute top-[55%] right-4 text-[#ea5555] font-medium leading-[23px] not-italic text-[13px]"
                >Can’t be empty</span
              >
            </label>
            <div class="flex flex-col mt-6">
              <label
                class="relative form-label flex flex-col gap-2 text-gray-color font-plus-jakarta-sans font-bold text-[12px] leading-5"
              >
                Board Columns
                <div class="flex gap-4">
                  <input
                    class="modal-input block bg-transparent w-full px-4 py-2 rounded text-color outline-none cursor-pointer font-medium text-[13px] leading-[23px] border border-input-color focus:border-primary-color active:transition duration-200 active:ease-in"
                    type="text"
                    placeholder="e.g. Take coffee break"
                  />
                  <button
                    type="button"
                    class="button border-transparent bg-transparent close-btn"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="15"
                      height="15"
                      viewBox="0 0 15 15"
                      fill="none"
                    >
                      <rect
                        x="12.7275"
                        width="3"
                        height="18"
                        transform="rotate(45 12.7275 0)"
                        fill="#828FA3"
                      />
                      <rect
                        y="2.12132"
                        width="3"
                        height="18"
                        transform="rotate(-45 0 2.12132)"
                        fill="#828FA3"
                      />
                    </svg>
                  </button>
                </div>
                <span
                  class="input-span hidden absolute top-[55%] right-12 text-[#ea5555] font-medium leading-[23px] not-italic font-plus-jakarta-sans text-[13px]"
                  >Can’t be empty</span
                >
              </label>
            </div>

            <button
              class="btn mt-6 rounded-full w-full text-center py-2 font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 outline-none text-primary-color dark:bg-white bg-[#635fc71a] hover:bg-[#635FC740]"
            >
              + Add New Column
            </button>
            <button
              type="submit"
              class="btn mt-6 rounded-full w-full text-center py-2 font-plus-jakarta-sans font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none bg-primary-color text-white hover:bg-primary-light-color"
            >
              Create New Board
            </button>
          </div>
        </div>
      </div>

      <!-- Delete Board modal -->
      <div
        class="relative modal hidden max-w-[480px] overflow-y-auto max-h-[85vh] w-full mx-auto z-20 bg-content-color p-6 sm:p-8"
        id="delete-board-modal"
      >
        <div class="h-full">
          <i
            class="icon-close close-modal absolute top-6 right-6 sm:top-8 sm:right-8 cursor-pointer text-color hover:text-danger-color duration-150 active:text-danger-light-color"
          ></i>
          <div class="">
            <h3 class="text-[18px] text-danger-color font-bold">
              Delete this board?
            </h3>
          </div>
          <p class="text-[#828fa3] mt-6 font-medium text-base leading-6">
            Are you sure you want to delete the ‘Platform Launch’ board? This
            action will remove all columns and tasks and cannot be reversed.
          </p>
          <div
            class="flex items-center mt-6 justify-center w-full gap-4 flex-col md:flex-row"
          >
            <button
              class="btn rounded-full w-full text-center py-2 font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none bg-danger-color text-white hover:bg-[#FF9898]"
            >
              Delete
            </button>
            <button
              class="btn rounded-full w-full text-center py-2 font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 outline-none text-primary-color bg-btn-light-color hover:bg-btn-hover-color"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
      <!-- Delete Task modal -->
      <div
        class="relative modal hidden max-w-[480px] overflow-y-auto max-h-[85vh] w-full mx-auto z-20 bg-content-color p-6 sm:p-8"
        id="delete-task-modal"
      >
        <div class="h-full">
          <i
            class="icon-close close-modal absolute top-6 right-6 sm:top-8 sm:right-8 cursor-pointer text-color hover:text-danger-color duration-150 active:text-danger-light-color"
          ></i>
          <div class="">
            <h3 class="text-[18px] text-danger-color font-bold">
              Delete this task?
            </h3>
          </div>
          <p class="text-[#828fa3] mt-6 font-medium text-base leading-6">
            Are you sure you want to delete the ‘Build settings UI’ task and its
            subtasks? This action cannot be reversed.
          </p>
          <div
            class="flex items-center mt-6 justify-center w-full gap-4 flex-col md:flex-row"
          >
            <button
              class="btn rounded-full w-full text-center py-2 font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none bg-danger-color text-white hover:bg-[#FF9898]"
            >
              Delete
            </button>
            <button
              class="btn rounded-full w-full text-center py-2 font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 outline-none text-primary-color bg-btn-light-color hover:bg-btn-hover-color"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <button class="theme-toggler">theme</button>

    <script src="../form/input/input.js"></script>
    <script src="../form/dropdown/dropdown.js"></script>
    <script src="../../js/main.js"></script>
    <script src="./modal.js"></script>
  </body>
</html>
