<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanban</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/output.css" />
  </head>

  <body>
    <div
      id="newColumn"
      class="w-280 h-screen rounded-md bg-gradient-to-br from-slate-300 to-slate-200"
    ></div>
    <script src="newColumn.js"></script>
  </body>
</html>
